.inline-block{
    display: inline-block;
    vertical-align: middle;
}
body {
    font-family: sans-serif;
}
h1, widget-editor-text{
    font-size: 14px;
    color: #424242;
    font-weight: 500;
    margin-left: 10px;
    text-transform: uppercase;
}
#widgetPreview {
    overflow: auto;
    height: 200px;
    font-size: 10px;
}
.input-box {
    height: 25px;
    border: 2px solid #B9B9B9;
    padding: 5px;
    font-size: 18px;
}
.widget {
    width: 250px;
    height: 300px;
    border: 1px solid #B9B9B9;
    padding: 10px;
    background-color: #F4F4F4;
    padding-left: 26px;
}
.go-butn {
    cursor: pointer;
    background-color: #F4F4F4;
    color: #3a3a3a;
    border: 1px solid #B9B9B9;
    height: 38px;
    font-size: 12px;
    width: 100%;
    margin-top: 5px;
}
.content {
    margin: 0 auto;
}
.temperature {
    font-weight: bold;
    font-size: 28px;
}
.city {
    font-size: 18px;
}
.wind {
    font-size: 14px;
    color: #B9B9B9;
}
.wind span {
    color: #424242;
}
.details {
    margin-left: 10px;
}
.details div {
    margin-top: 3px;
}
.half-width {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.off{
    display: none;
}
button {
    width: 150px;
    height: 38px;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
}
#weatherWidgetContainer {
    align-items: center;
    flex-direction: row;
    justify-content: center;
}